.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

h1 {
  align-self: center;
}
